$font-main:
  Chakra Petch,
  'Helvetica',
  'Arial',
  sans-serif;

//====privat colors======
$-gradient_blue: #0cbaf1;
$-gradient_purpul: #e95ce9;

//====colors======
$primery_blue: #0cbaf1;
$primery_purpul: #ca6aeb;

$black_100: #18181b;
$black_50: #252532;
$gray: #b0b0b2;
$gray_light: #d1d1d1;
$white: #fff;

$ink_blue: #3246bc;
$ink_blue_dark: #192883;

$error_color: #ff4747;
$sussess_color: #00c566;
$warning_color: #facc15;

//==========gradients==============
$gradient: linear-gradient(90deg, $-gradient_blue 0%, $-gradient_purpul 100%);
$bg_half_transparent_gradient: linear-gradient(
  90deg,
  rgba($-gradient_blue, 0.2) 0%,
  rgba($-gradient_purpul, 0.2) 100%
);
$gradient_gray: linear-gradient(0deg, $black_50 0%, rgba($black_50, 0.7) 60%, transparent 100%);
$border_color_gray: rgba(255, 255, 255, 0.2);
$banner_bg_color: $gray;
$white_shadow_bg: rgba(255, 255, 255, 0.07);
$gradient_blue: linear-gradient(180deg, $ink_blue 0%, $ink_blue_dark 100%);

// typograpthy
$text_color: rgba($white, 0.6);
$text_color_gray: $gray_light;

//borders
$border_radius: 4px;
$border_radius_small: 2px;
$border_gray: 1px solid rgba(255, 255, 255, 0.3);
$border_with_gradient: linear-gradient(90deg, $-gradient_blue 0%, $-gradient_purpul 100%) 1;
$border_gray_gradient: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.3) 0%,
    rgba(255, 255, 255, 0) 100%
  )
  1;
